# Projeto 5

### Bruno Gomes

#### Como o PIB per capita e o acesso a saneamento básico influenciam a mortalidade infantil?

Nós iremos estudar como o PIB per capita da população e o percentual dela com acesso ao saneamento básico influenciam a mortalidade de crianças menores de 5 anos de idade no ano de 2007.

In [1]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 # Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  # Usa OLS como no R

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Usuario\Anaconda3\Scripts

In [3]:
dados = pd.read_excel("C:\\Users\\Usuario\\Documents\\Insper\\C.D\\DP\\Projeto5_DP\\Dados\\Ex_URB.xlsx", index_col = 0)

## Etapa 1

#### Variáveis selecionadas que podem auxiliar na análise:

Mortalidade de crianças menores de 5 anos de idade (por 1000 nascimentos) em 2007;

PIB per capita no ano de 2007;

Percentual da população com acesso a saneamento básico em 2007.

In [4]:
dados.head()

             Sanitation    HDI    GDP  Mortality
Country
Afghanistan          37  0.363   1298      113.2
Albania              91  0.729   7977       18.7
Algeria              94  0.680  12289       30.7
Angola               54  0.471   6453      196.4
Argentina            90  0.780  13873       15.8

## Etapa 2

#### a)

Para estimar $\beta o$ e $\beta 1$ deve ser utilizado o método dos mínimos quadrados, sendo que esses valores devem ser escolhidos de modo a minimizar a soma dos erros ao quadrado. Após realizarmos os cálculos obtemos que:

$\beta o = -\beta 1 \bar{x} + \bar{y}$

$\beta 1 = \frac{\bar{y}\sum xi-\sum xiyi}{\bar{x}\sum xi-\sum x^2} = \frac{cov(X,Y)}{var(X)}$

#### b)

#### c)

#### d)

## Etapa 3

In [6]:
dados.describe()

       Sanitation         HDI            GDP   Mortality
count  163.000000  163.000000     163.000000  163.000000
mean    71.000000    0.641626   16079.036810   45.086503
std     30.439578    0.179303   19877.099022   45.427905
min      9.000000    0.271000     555.000000    2.800000
25%     48.000000    0.486500    2873.500000    9.250000
50%     83.000000    0.680000    8820.000000   22.800000
75%     98.000000    0.775000   21400.000000   72.800000
max    100.000000    0.942000  126364.000000  196.400000